node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.envs
.env.*
!.env.example
!.env.test
.env
service-account.json

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

cache.json

logs/*.log