/* https://codepen.io/jaffathecake/pen/VwBprqL */

::view-transition-image-pair(*) {
  isolation: auto;
}

::view-transition-group(*) {
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

/* :root {
  view-transition-name: none;
}

::view-transition {
  pointer-events: none;
} */
