@layer home {
  @keyframes slide-in-left {
    0% {
      transform: translateX(-30%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-out-left {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(30%);
      opacity: 0;
    }
  }
  @keyframes slide-in-right {
    0% {
      transform: translateX(30%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-out-right {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-30%);
      opacity: 0;
    }
  }

  @keyframes scale-out {
    from {
      transform: scale(1);
      opacity: 1;
    }

    to {
      transform: scale(0.9);
      opacity: 0;
    }
  }

  ::view-transition-new(slide-in-out-left) {
    animation: slide-in-left 0.3s ease-out;
  }
  ::view-transition-new(slide-in-out-right) {
    animation: slide-in-right 0.3s ease-out;
  }

  ::view-transition-old(slide-in-out-left) {
    animation: slide-out-left 0.3s ease-out;
  }
  ::view-transition-old(slide-in-out-right) {
    animation: slide-out-right 0.3s ease-out;
  }

  /* ::view-transition-old(slide-in-out-left),
::view-transition-old(slide-in-out-right) {
  animation: scale-out 0.3s ease-out;
} */
}
