@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

@layer components {
  body {
    @apply bg-slate-900 text-white;
  }
  .btn-circle {
    @apply flex h-8 w-8 cursor-pointer items-center justify-center rounded-full bg-opacity-10 p-2 hover:bg-slate-800;
  }

  .btn-full {
    @apply flex cursor-pointer items-center justify-center gap-4 rounded-xl px-5 py-3 text-2xl;
  }

  .btn-filled {
    @apply bg-blue-400 disabled:bg-slate-400;
  }

  .btn-outlined {
    @apply border-2 border-blue-400 bg-white bg-opacity-0 transition-all hover:bg-opacity-5 disabled:cursor-not-allowed disabled:border-slate-400;
  }

  .custom-scroll::-webkit-scrollbar {
    @apply w-2;
  }
  /* Style the track */
  .custom-scroll::-webkit-scrollbar-track {
    @apply bg-slate-800;
  }

  /* Style the scrollbar thumb */
  .custom-scroll::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-400 hover:bg-slate-500;
  }
  .custom-scroll-right::-webkit-scrollbar-thumb {
    @apply rounded-l-full;
  }
}

.suse {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}
.no-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*,
::before,
::after {
  transition: all 0.2s ease-in-out;
}
